{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="container col-4 text-center" style="background-color: rgba(0, 0, 0, 0.6); font-family: 'Short Stack', cursive;
  font-weight: 400;
  font-style: normal; padding: 60px 10px 20px 10px; color: #fff; border-radius: 80px;">
    <div class="">
        <h1 class="">Pick The Best Toy For Your Kid</h1>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <button style="background: #f70776; color: #fff; border-radius: 15px; border: none; padding: 6px;">Read More
        </button>
        <div class="phone-email"
             style="display: flex; font-size: 12px;
              justify-content: space-between;
               margin-top: 10px; cursor: pointer; text-decoration: underline;">
            <p>Phone: +998 (71) 122 22 22</p>
            <p>Email: polvonpolvonov@gmail.com</p>
        </div>

    </div>
</div>
{% endblock main %}