{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<div class="container d-flex justify-content-center p-5">
    <div class="col-4">
        <header>
            <h3 class="text-center" style="font-family: 'Nanum Pen Script', cursive; font-size: 40px; font-weight: 900; color: red;">
                {{ title }}
            </h3>
        </header>

        <div class="card-body">
            <form style="font-family: 'Nanum Pen Script', cursive; font-size: 26px; font-weight: 900;" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success" style="font-size: 26px;">Register</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0" style="font-size: 26px;">
                        Do you have account?
                        <a class="navbar-brand" style="font-size: 30px; text-decoration: underline; color: red;" href="{% url 'login' %}">
                            Enter
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}